<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Welcome!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      New Stuff Soon!
    </ion-card-header>
    <ion-card-content>
      Help me build this project, <a href="http://edn9.github.io/" target="_blank" rel="noopener noreferrer">edn9</a> on
      github.
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" fill="outline" (click)="back()">Voltar</ion-button>

</ion-content>