<ion-content>
  <div class="content">
    <ion-card>
      <ion-card-header>
        <ion-row>
          <ion-col>
            <h1>
              Login
            </h1>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <form (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-label class="tLabel">Email:</ion-label>
            <ion-input [(ngModel)]="login.email" name="email" type="email" placeholder="usuario@email.com" required>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="tLabel">Password:</ion-label>
            <ion-input [(ngModel)]="login.password" name="password" type="password" placeholder="******" required>
            </ion-input>
          </ion-item>
          <ion-button expand="block" type="submit">Entrar
          </ion-button>
        </form>
        <ion-row>
          <ion-col>
            <h2>
              <a (click)="register()" style="float: right;">
                <b>Criar conta</b>
              </a>
            </h2>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>